/* --------- ذكر داكن --------- */

.theme-dark-male {
    background-color: #002b36;
    color: #00aaff;
}


/* --------- انثى داكن --------- */

.theme-dark-female {
    background-color: #1a0a1f;
    color: #ff99cc;
}


/* --------- ذكر فاتح --------- */

.theme-light-male {
    background-color: #a1e1ff;
    color: #007acc;
}


/* --------- انثى فاتح --------- */

.theme-light-female {
    background-color: #ffd6f9;
    color: #660033;
}


/* --------- وردي --------- */

.theme-pink {
    background-color: #ffe6f0;
    color: #ff1493;
}


/* --------- ازرق انمي--------- */

.theme-blue-anime {
    background-color: #001f3f;
    color: #66ccff;
    font-family: 'Poppins', sans-serif;
}


/* --------- أنيميشن --------- */

.fade-in {
    animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

select {
    border: none;
    margin: 5px 10px;
    background-color: rgb(0, 0, 0, 50%);
    border-radius: 20px;
    text-align: center;
    color: azure;
    transition: 500ms;
    height: 3vh;
}

.main-header {
    padding: 1rem;
    text-align: center;
    background-color: #007bff90;
    margin: 0;
    padding: 10px;
    opacity: 80%;
    color: #eee;
}